{% extends 'base.html.twig' %}

{% block title %}
	Category
{% endblock %}

{% block body %}
	<h1>
		Category
	</h1>
	<div>
		{% for category in categories %}
			<h4>
				{{loop.index}}
				{{category.name}}
				<a href="{{ path("category_show", { categoryName: category.name }) }}">Browse</a>
			</h4>

		{% endfor %}
	</div>
	<div>
		<a href="{{ path ("program_index")}}">Program</a>
	</div>
	<div>
		<a href="{{ path("app_home")}} ">Home</a>
	</div>
{% endblock %}
