{% extends "base.html.twig" %}
{% block body %}
	<h1>
		{{category.name}}

	</h1>
	<div>
		<ul>
			{% for program in programs %}

				<li>
					<h4>{{program.id}}
						{{program.title}}
					</h4>
					<div>
						{{program.summary}}
					</div>
					<a href="{{ path("program_show", { id: program.id }) }}">More info</a>
				</li>

			{% else %}
				{{message}}
			{% endfor %}
		</ul>
	</div>
{% endblock %}
