{% extends "base.html.twig" %}
{% block body %}
	<h1>
		{{ website }}
	</h1>
	{% for program in programs %}
		<div>
			<h4>{{loop.index}}

				{{ program.title }}</h4>
			<h5>{{program.category.name}}</h5>
			<p>
				{{program.summary}}
			</p>
			<a href="{{ path("program_show", { id: program.id }) }}">More info</a>

		</div>
	{% else %}
		Aucune serie trouvée
	{% endfor %}
	<a href="{{ path('app_home')}} ">Home</a>
</html>{% endblock %}
